{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1> Specify the Book that you want to remove</h1>
        <form method="POST">
            {{form.hidden_tag()}}
            {{form.name.label}} {{form.name()}}
            {{form.submit()}}
        </form>
	{% for mess in get_flashed_messages() %}
		<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<button type="button" class="fade close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
		{{mess}}
		</div>
		
	{% endfor %}	
        </div>
    
{% endblock %}